@import url(./Home.css);
@import url(./Login.css);
@import url(./Menu.css);
@import url(./PackageCreation.css);
@import url(./Payment.css);
@import url(./Account.css);
@import url(./Message.css);
@import url(./Service.css);
@import url(./Package.css);
@import url(./ConfirmationWindow.css);
@import url(./Own-Rules.css);

*{
    box-sizing: border-box;
    cursor: default;
}

.Main{
    display: flex;
    flex-direction: column;
    margin: auto;
    background: #F8F8F8;
}

.Main-Header{
    background: #4992ff;
    width: 100%;
    height: 60px;
}

.Header-Contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #4992ff;
    padding: 0px 5px 0px 20px;
    color: #F8F8F8;
    font-weight: bold;
    width: 600px;
    height: 60px;
    margin: auto
}

.HC-App-Name{
    padding: 10px;
    margin-left: -10px;
}

.HC-App-Name:hover, .App-Name:hover{
    cursor: pointer;
}

.App-Name{
    font-size:x-large
}

.Menu-Container {
    margin: 0px;
    padding: 15px;
    border-radius: 5px;
}

.Menu-Container:hover, .Menu-Logo:hover {
    background: #6aa5ff;
    cursor: pointer;
}

.Menu-Logo{
    display: flex;
    justify-content: space-between;
    width: 20px;
}

.Main-Body{
    display: flex;
    flex-direction: column;
    font-family: 'Karla', sans-serif;
    color: #303030;
    margin: auto;
    background: #F8F8F8;
    width: 600px;
    min-height: 750px;
}

.Main-Footer{
    background: #d9d9d9;
    width: 100%;
    height: 300px;
    margin-top: 60px;
}

.Footer-Content{
    text-align: center;
    margin: 60px 0px 0px 0px;
}